{% extends 'layout.html' %}
{% load static %}

{% block title %}Registro{% endblock title %}


{% block css %}
<style>
  .card-img-top {
    position: relative;
    padding-bottom: 60%;
  }
  .card-img-top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
</style>
{% endblock css %}

{% block navbar %}
{% include 'partials/navbar-dark-fixed.html' %}
{% endblock navbar %}

{% block content %}
<section class="position-relative">
  <div class="container py-9 py-lg-11 position-relative">
    <div class="row">
      <div class="col">
        <h2 class="mb-5 display-6 text-center">
          SERVICIOS
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="collapse-group collapse d-flex flex-column bg-white p-2 rounded sticky-top" style="top: 100px;">
          <div class="collapse d-block">
            <div class="nav flex-column">
              <a href="#category" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">Categorias</a>
              <div class="collapse" id="category">
                <div class="nav nav-level-2 flex-column">
                  
                  {% for cat in categories %}
                  <a href="#" class="nav-link small">{{ cat }}</a>
                  {% endfor %}
                  
                </div>
              </div>
              <hr>
              <a href="#search" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">Busqueda</a>
              <div class="collapse" id="search">
                <div class="nav nav-level-2 flex-column">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <a class="btn btn-outline-primary"><i class="bx bx-search-alt-2 fs-5 lh-1"></i></a>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          {% for service in services_pub %}
          <div class="col-sm-6 col-md-4 mb-4 aos-init aos-animate" data-aos="fade-up">
            <article class="card card-hover text-center hover-shadow-lg overflow-hidden border-0 rounded-3 h-100">
              <div class="overflow-hidden position-relative card-img-top">
                <!--Article image-->
                <img src="{{ service.image.url }}" alt="" class="img-fluid img-zoom">
                <!--Article image divider-->
                <svg class="position-absolute start-0 bottom-0 card-divider" preserveAspectRatio="none" width="100%" height="80" viewBox="0 0 1200 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 56L50 57.3333C100 58.6667 200 61.3333 300 56C400 50.6667 500 37.3333 600 38.6667C700 40 800 56 900 52C1000 48 1100 24 1150 12L1200 0V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V56Z" fill="white"></path>
                </svg>
              </div>
              <!--Content-body-->
              <div class="card-body position-relative d-flex flex-column justify-content-between">
                <div>
                  <div class="width-7x height-7x mx-auto rounded-circle shadow bg-no-repat overflow-hidden bg-cover bg-center" style="background-image: url('{{ service.logo.url }}'); margin-top: -3.5rem;"></div>
                  <h5 class="pb-3 mb-0 text-primary"><strong>{{ service.title }}</strong></h5>
                  <p class="mb-0 text-start text-truncate">
                    {{ service.description }}
                  </p>
                </div>
                <p class="mt-3 mb-0 text-end"><small><i class="bx bxs-category-alt mb-1 text-primary"></i>{{ service.category }}</small></p>
              </div>
              <!--Article link-->
              <a href="{% url 'services_app:service-detail' service.slug %}" class="stretched-link"></a>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}