{% extends 'layout.html' %}
{% load static %}

{% block title %}Crear Servicio{% endblock title %}

{% block stylesheet %}
<!--Select css-->
<link rel="stylesheet" href="{% static 'vendor/node_modules/css/choices.min.css' %}">
<!--Form steps css-->
<link rel="stylesheet" href="{% static 'vendor/node_modules/css/bs-stepper.min.css' %}">
{% endblock stylesheet %}

{% block css %}
<style>
  .card-membership .form-check-input:checked {
    border-color: white;
  }
  .filepond--drop-label {
    color: #4c4e53;
  }
  .filepond--panel-root {
    background-color: #edf0f4;
  }
  .filepond--root {
    width: 170px;
    cursor: pointer;
  }
  .filepond--root * {
    cursor: pointer !important;
  }
  .filepond--credits {
    display: none;
  }
  #logo-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--bs-primary);
    cursor: pointer;
    position: relative;
  }
  #logo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #logo-preview i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #portada-preview {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px dashed var(--bs-primary);
    cursor: pointer;
    position: relative;
  }
  #portada-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #portada-preview i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>  
{% endblock css %}

{% block navbar %}
{% include 'partials/navbar-dark-fixed.html' %}
{% endblock navbar %}

{% block content %}
<section class="position-relative">
  <div class="container pt-9 pt-lg-11 pb-9 pb-lg-11 position-relative z-index-1">
    <div class="row">
      <div class="col">
        <h2 class="mb-3 display-6">
          Crear Servicio
        </h2>
      </div>
    </div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger my-3 py-2" role="alert">
      {{ error|escape }}
    </div>
    {% endfor %}
    {% endif %}
    <!--Steps vertical start-->
    <div class="bs-stepper bs-stepper-vertical row" id="stepperDemoVertical">
      <!--Stepper header start-->
      <div class="bs-stepper-header d-none d-md-flex flex-column justify-content-start align-items-start col-md-4" role="tablist">
        <div class="card card-body bg-transparent p-0 border-0 w-100 h-100">
          <!--Step 1-->
          <div class="step active" data-target="#stepper-step-v1">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv1" aria-controls="stepper-step-v1" aria-selected="true">
              <span class="bs-stepper-circle">
                <i class="bx bx-cart-alt"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Membresia</span>
              </span>
            </button>
          </div>
          <!--Step 2-->
          <div class="step" data-target="#stepper-step-v2">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv2" aria-controls="stepper-step-v2" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-info-circle"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Información general</span>
              </span>
            </button>
          </div>
          <!--Step 3-->
          <div class="step" data-target="#stepper-step-v3">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv3" aria-controls="stepper-step-v3" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-images"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Imagen</span>
              </span>
            </button>
          </div>
          <!--Step 4-->
          <div class="step" data-target="#stepper-step-v4">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv4" aria-controls="stepper-step-v4" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-phone"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Información de contacto</span>
              </span>
            </button>
          </div>
          <!--Step 5-->
          <div class="step" data-target="#stepper-step-v5">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv5" aria-controls="stepper-step-v5" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-time"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Horario</span>
              </span>
            </button>
          </div>
          <!--Step 6-->
          <div class="step" data-target="#stepper-step-v6">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv6" aria-controls="stepper-step-v6" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-map-alt"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Ubicación</span>
              </span>
            </button>
          </div>
          <!--Step 7-->
          <div class="step" data-target="#stepper-step-v7">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv7" aria-controls="stepper-step-v7" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-mobile"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Redes Sociales</span>
              </span>
            </button>
          </div>
          <!--Step 8-->
          <div class="step" data-target="#stepper-step-v8">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv8" aria-controls="stepper-step-v8" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-credit-card"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Metodos de Pago</span>
              </span>
            </button>
          </div>
          <!--Step 9-->
          <div class="step" data-target="#stepper-step-v9">
            <button type="button" class="step-trigger flex-nowrap p-0" role="tab" id="stepperDemotriggerv9" aria-controls="stepper-step-v9" aria-selected="false">
              <span class="bs-stepper-circle">
                <i class="bx bx-search-alt"></i>
              </span>
              <span class="flex-grow-1 flex-wrap d-flex flex-column jusitfy-content-start text-start">
                <span class="bs-stepper-label h6 m-0">Detalles del servicio</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!--Stepper header end-->
      
      <!--Stepper content start-->
      <div class="bs-stepper-content col-md-8">
        <div class="card card-body">
          <form class="h-100 d-flex flex-column" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!--Step-1-->
            <div id="stepper-step-v1" class="content h-100" aria-labelledby="stepper-step-v1">
              <div class="d-flex flex-column h-100">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h3 class="mb-1">Membresia</h3>
                  <p class="text-muted small mb-0">Selecciona plan de pago y el tipo de membresia</p>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  <p>Plan<sup><i class="bx bx-health ms-1 text-danger"></i></sup></p>
                  <div class="mb-3">
                    {% for cuota in form.cuota %}
                    <div class="form-check form-check-inline">
                      {{ cuota.tag }}
                      <label class="form-check-label">{{ cuota.choice_label }}</label>
                    </div>
                    {% endfor %}
                  </div>
                  
                  <p>Membresia<sup><i class="bx bx-health ms-1 text-danger"></i></sup></p>
                  <div class="mb-3">
                    <div class="row no-gutters">
                      {% for plan in form.plan %}
                      <div class="col-lg-6">
                        <div class="card-membership card py-5 h-100 border card-body position-relative bg-primary-light" style="cursor:pointer;">
                          <div class="rounded-top mb-4 overflow-hidden text-center">
                            <h5 class="title mb-4">{{ plan.choice_label }}</h5>
                            <span class="radio position-absolute top-0 end-0" style="transform: translate(-1rem, 1rem);">{{ plan.tag }}</span>
                            <div>
                              {% for mb in membership %}
                                {% if plan.choice_label == mb.name %}
                                  <h2 class="display-4 mb-2 lh-1">
                                    <sub class="small">$</sub>
                                    <span id="span-{{ mb.name }}">{{ mb.price }}</span>
                                  </h2>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                          <!-- <ul class="text-center list-unstyled mb-4">
                            <li class="mb-2">Beneficios</li>
                          </ul> -->
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-end">
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-2-->
            <div id="stepper-step-v2" class="content h-100" aria-labelledby="stepper-step-v2">
              <div class="d-flex flex-column h-100">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Informacion General</h6>
                  <p class="text-muted small mb-0">Presenta el servicio</p>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}"><strong>{{ form.title.label }}</strong><sup><i class="bx bx-health ms-1 text-danger"></i></sup></label>
                    {{form.title}}
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.company.id_for_label }}"><strong>{{ form.company.label }}</strong></label>
                    {{form.company}}
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}"><strong>{{ form.description.label }}</strong><sup><i class="bx bx-health ms-1 text-danger"></i></sup></label>
                    {{form.description}}
                  </div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Volver
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-3-->
            <div id="stepper-step-v3" class="content h-100" aria-labelledby="stepper-step-v3">
              <div class="d-flex h-100 flex-column">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Imagen</h6>
                  <p class="text-muted small mb-0">Agrega la imagen del servicio</p>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  <div class="mb-3">
                    <label for="{{ form.logo.id_for_logo }}">{{ form.logo.label }}</label>
                    <div class="d-flex align-items-end">
                      {{form.logo}}
                      <div id="logo-preview" class="d-flex align-items-center justify-content-center flex-column">
                        <i class="bx bxs-image-add bx-md text-primary"></i>
                      </div>
                      <button type="button" id="reset-logo" class="btn btn-link d-none"><i class="bx bxs-trash bx-sm"></i></button>
                    </div>
                    <p class="small text-muted"><sup><i class="bx bx-health me-1 text-info"></i></sup>Para un mejor resultado use una imagen de aspecto 1:1 (Cuadrada)</p>
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.image.id_for_image }}">Imagen de portada</label>
                    <div class="d-flex align-items-end">
                      {{form.image}}
                      <div id="portada-preview" class="d-flex align-items-center justify-content-center flex-column">
                        <i class="bx bxs-image-add bx-md text-primary"></i>
                      </div>
                      <button type="button" id="reset-portada" class="btn btn-link d-none"><i class="bx bxs-trash bx-sm"></i></button>
                    </div>
                    <p class="small mt-3 text-muted"><sup><i class="bx bx-health me-1 text-info"></i></sup>Para un mejor resultado use una imagen de aspecto 16:9 (Horizontal)</p>
                  </div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Volver
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-4-->
            <div id="stepper-step-v4" class="content h-100" aria-labelledby="stepper-step-v4">
              <div class="d-flex h-100 flex-column">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Informacion de contacto</h6>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  <div class="mb-3">
                    <label for="{{ form.email.id_for_email }}">{{ form.email.label }}</label>
                    {{form.email}}
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.phone1.id_for_phone1 }}">{{ form.phone1.label }}<sup><i class="bx bx-health ms-1 text-danger"></i></sup></label>
                    {{form.phone1}}
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.phone2.id_for_phone2 }}">{{ form.phone2.label }}</label>
                    {{form.phone2}}
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.whatsapp.id_for_whatsapp }}">{{ form.whatsapp.label }}</label>
                    {{form.whatsapp}}
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.web.id_for_web }}">{{ form.web.label }}</label>
                    {{form.web}}
                  </div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Volver
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-5-->
            <div id="stepper-step-v5" class="content h-100" aria-labelledby="stepper-step-v5">
              <div class="d-flex h-100 flex-column">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Horario de trabajo</h6>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  <label class="form-check-label me-3">Lunes</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input type="checkbox" id="{{ form.at_lunes.id_for_label }}" name="{{ form.at_lunes.html_name }}" class="form-check-input">
                    </div>
                    <div class="input-group-text d-none d-md-block">Horario</div>
                    <input type="time" id="{{ form.op_lunes.id_for_label }}" name="{{ form.op_lunes.html_name }}" class="form-control">
                    <div class="input-group-text">a</div>
                    <input type="time" id="{{ form.cl_lunes.id_for_label }}" name="{{ form.cl_lunes.html_name }}" class="form-control">
                  </div>
                  <label class="form-check-label me-3">Martes</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input type="checkbox" id="{{ form.at_martes.id_for_label }}" name="{{ form.at_martes.html_name }}" class="form-check-input">
                    </div>
                    <div class="input-group-text d-none d-md-block">Horario</div>
                    <input type="time" id="{{ form.op_martes.id_for_label }}" name="{{ form.op_martes.html_name }}" class="form-control">
                    <div class="input-group-text">a</div>
                    <input type="time" id="{{ form.cl_martes.id_for_label }}" name="{{ form.cl_martes.html_name }}" class="form-control">
                  </div>
                  <label class="form-check-label me-3">Miercoles</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input type="checkbox" id="{{ form.at_miercoles.id_for_label }}" name="{{ form.at_miercoles.html_name }}" class="form-check-input">
                    </div>
                    <div class="input-group-text d-none d-md-block">Horario</div>
                    <input type="time" id="{{ form.op_miercoles.id_for_label }}" name="{{ form.op_miercoles.html_name }}" class="form-control">
                    <div class="input-group-text">a</div>
                    <input type="time" id="{{ form.cl_miercoles.id_for_label }}" name="{{ form.cl_miercoles.html_name }}" class="form-control">
                  </div>
                  <label class="form-check-label me-3">Jueves</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input type="checkbox" id="{{ form.at_jueves.id_for_label }}" name="{{ form.at_jueves.html_name }}" class="form-check-input">
                    </div>
                    <div class="input-group-text d-none d-md-block">Horario</div>
                    <input type="time" id="{{ form.op_jueves.id_for_label }}" name="{{ form.op_jueves.html_name }}" class="form-control">
                    <div class="input-group-text">a</div>
                    <input type="time" id="{{ form.cl_jueves.id_for_label }}" name="{{ form.cl_jueves.html_name }}" class="form-control">
                  </div>
                  <label class="form-check-label me-3">Viernes</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input type="checkbox" id="{{ form.at_viernes.id_for_label }}" name="{{ form.at_viernes.html_name }}" class="form-check-input">
                    </div>
                    <div class="input-group-text d-none d-md-block">Horario</div>
                    <input type="time" id="{{ form.op_viernes.id_for_label }}" name="{{ form.op_viernes.html_name }}" class="form-control">
                    <div class="input-group-text">a</div>
                    <input type="time" id="{{ form.cl_viernes.id_for_label }}" name="{{ form.cl_viernes.html_name }}" class="form-control">
                  </div>
                  <label class="form-check-label me-3">Sabado</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input type="checkbox" id="{{ form.at_sabado.id_for_label }}" name="{{ form.at_sabado.html_name }}" class="form-check-input">
                    </div>
                    <div class="input-group-text d-none d-md-block">Horario</div>
                    <input type="time" id="{{ form.op_sabado.id_for_label }}" name="{{ form.op_sabado.html_name }}" class="form-control">
                    <div class="input-group-text">a</div>
                    <input type="time" id="{{ form.cl_sabado.id_for_label }}" name="{{ form.cl_sabado.html_name }}" class="form-control">
                  </div>
                  <label class="form-check-label me-3">Domingo</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input type="checkbox" id="{{ form.at_domingo.id_for_label }}" name="{{ form.at_domingo.html_name }}" class="form-check-input">
                    </div>
                    <div class="input-group-text d-none d-md-block">Horario</div>
                    <input type="time" id="{{ form.op_domingo.id_for_label }}" name="{{ form.op_domingo.html_name }}" class="form-control">
                    <div class="input-group-text">a</div>
                    <input type="time" id="{{ form.cl_domingo.id_for_label }}" name="{{ form.cl_domingo.html_name }}" class="form-control">
                  </div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Volver
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-6-->
            <div id="stepper-step-v6" class="content h-100" aria-labelledby="stepper-step-v6">
              <div class="d-flex h-100 flex-column">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Ubicación</h6>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  <div class="mb-3">
                    <label for="{{ form.address.id_for_web }}">{{ form.address.label }}</label>
                    {{form.address}}
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Latitud</span>
                    {{form.lat}}
                    <span class="input-group-text" id="basic-addon1">Longitud</span>
                    {{form.lng}}
                    <button class="btn btn-outline-primary" type="button" id="current-location">
                      <i class="bx bx-current-location bx-sm"></i>
                    </button>
                  </div>
                  <div id="mapa" class="w-100" style="height: 200px;"></div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Volver
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-7-->
            <div id="stepper-step-v7" class="content h-100" aria-labelledby="stepper-step-v7">
              <div class="d-flex h-100 flex-column">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Redes Sociales</h6>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  {{ social_formset.management_form }}
                  <div id="content-redes">
                    {% for form_social in social_formset %}
                    <div class="add-social input-group">
                      {{ form_social.name }}
                      {{ form_social.url }}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="mt-2 text-end">
                    <button type="button" class="btn btn-outline-primary btn-sm p-2" onclick="addSocial()">
                      <i class="bx bx-plus bx-xs"></i> Agregar Red Social
                    </button>
                  </div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Volver
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-8-->
            <div id="stepper-step-v8" class="content h-100" aria-labelledby="stepper-step-v8">
              <div class="d-flex h-100 flex-column">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Metodos de pago</h6>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  {{ paymethod_formset.management_form }}
                  <div id="content-paymethod">
                    {% for form_paymethod in paymethod_formset %}
                    <div class="add-paymethod">
                      {{ form_paymethod.paymethod }}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="mt-2 text-end">
                    <button type="button" class="btn btn-outline-primary btn-sm p-2" onclick="addPaymethod()">
                      <i class="bx bx-plus bx-xs"></i> Agregar Metodo de Pago
                    </button>
                  </div>
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Volver
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="stepDemoVertical.next()">
                    Continuar <i class="bx bxs-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--Step-9-->
            <div id="stepper-step-v9" class="content h-100" aria-labelledby="stepper-step-v9">
              <div class="d-flex h-100 flex-column">
                <!--Step Title-->
                <div class="flex-shrink-0 border-bottom">
                  <h6 class="mb-1">Detalles del servicio</h6>
                  <p class="text-muted small mb-0">Detalles para encontrarte</p>
                </div>
                <!--Step main content-->
                <div class="flex-grow-1 py-3">
                  <label for="">Categoria</label>
                  {{form.category}}
                </div>
                <div class="flex-grow-1 py-3">
                  <label for="">Subcategoria(s)</label>
                  {{form.subcategory}}
                </div>
                <!--Step footer-->
                <div class="d-flex pt-3 border-top justify-content-between">
                  <button type="button" class="btn btn-secondary btn-sm" onclick="stepDemoVertical.previous()">
                    <i class="bx bxs-left-arrow-alt"></i> Back
                  </button>
                  <button type="submit" class="btn btn-primary btn-sm">
                    Submit <i class="bx bx-send"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Steps vertical end-->
  </div>
</section>
{% endblock content %}

{% block js %}
<script src="{% static 'vendor/node_modules/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'vendor/node_modules/js/choices.min.js' %}"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
<script src="{% static 'js/register-services.js' %}"></script>
<script>
  var optPlan
  $('.plan').on('change', function() {
    $('.plan').each(function() {
      if ($(this).is(':checked')) {
        optPlan = $(this).siblings('label').text()
      }
    })
    calcPlan(optPlan)
  })
  function calcPlan(optPlan) {
    {% for p in porcents %}
      if ('{{ p.time }}' == optPlan) {
        var porcent_{{ p.time }} = '{{ p.discount_rate }}'
        porcent_{{ p.time }} = parseFloat(porcent_{{ p.time }}.replace(/,/g, "."))
        var porcent = porcent_{{ p.time }}
      }
    {% endfor %}
  
    {% for plan in form.plan %}
      {% for mb in membership %}
        {% if plan.choice_label == mb.name %}
          var price_{{ mb.name }} = '{{ mb.price }}'
          price_{{ mb.name }} = parseFloat(price_{{ mb.name }}.replace(/,/g, "."))
          var calcPrice_{{ mb.name }} = price_{{ mb.name }} - ((price_{{ mb.name }} * porcent) / 100).toFixed(2)
          // calcPrice_{{ mb.name }} = calcPrice_{{ mb.name }}.toString()
          // calcPrice_{{ mb.name }} = calcPrice_{{ mb.name }}.replace(/./g, ",")
          $('#span-{{ mb.name }}').text(calcPrice_{{ mb.name }})
        {% endif %}
      {% endfor %}
    {% endfor %}
  }
</script>
{% endblock js %}
