{% extends 'layout.html' %}
{% load static %}

{% block title %}Eliminar servicio{% endblock title %}

{% block css %}{% endblock css %}

{% block navbar %}
{% include 'partials/navbar-dark-fixed.html' %}
{% endblock navbar %}

{% block content %}
<div class="container pt-11 pt-lg-14 pb-9 pb-lg-11">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><strong>Eliminar Servicio</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 py-3 rounded shadow-lg">
      <div class="content-form-login">
        <form method="POST">
          {% csrf_token %}
          <p class="text-center">¿Está seguro que desea eliminar el servicio <br> "{{ object.title }}"?</p>
          <div class="d-grid">
            <button id="submit" type="submit" class="btn btn-danger btn-sm mt-3">CONFIRMAR</button>
            <p class="text-center small text-muted mt-3">
              <a href="{% url 'users_app:user-dashboard' %}" class="text-center text-dark fw-semibold link-underline">Cancelar</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}