{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  
  <!--Box Icons-->
  <link rel="stylesheet" href="{% static 'fonts/boxicons/css/boxicons.min.css' %}">
  <!--AOS Animations-->
  <link rel="stylesheet" href="{% static 'vendor/node_modules/css/aos.css' %}">
  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Source+Serif+Pro:ital@0;1&display=swap" rel="stylesheet">
  
  <title>{% block title %}{% endblock title %} | Serviflix</title>
  
  {% block stylesheet %}{% endblock stylesheet %}
  
  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'css/theme-orange.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  
  {% block css %}{% endblock css %}
  
  <!--Preloader Spinner-->
  <div class="spinner-loader bg-primary text-white">
    <div class="spinner-grow" role="status"></div>
    <span class="small d-block ms-2">Loading...</span>
  </div>
  
  {% block navbar %}{% endblock navbar %}
  
  <main>
    {% block content %}{% endblock content %}
  </main>
  
  <footer class="py-3 bg-dark text-light">
    <div class="container text-center">
      <small>Serviflix &copy; 2022. Derechos Reservados</small>
    </div>
  </footer>
  
  <!-- scripts -->
  <script src="{% static 'vendor/node_modules/js/jquery.min.js' %}"></script>
  <script src="{% static 'js/theme.bundle.js' %}"></script>
  {% block js %}{% endblock js %}
</body>
</html>