{% extends 'layout.html' %}
{% load static %}

{% block title %}Cambiar Contraseña{% endblock title %}

{% block css %}{% endblock css %}

{% block navbar %}
{% include 'partials/navbar-dark-fixed.html' %}
{% endblock navbar %}

{% block content %}
<section class="position-relative">
  <div class="container pt-11 pt-lg-14 pb-9 pb-lg-11 position-relative z-index-1">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-sm-8 z-index-2">
        <h2 class="mb-1 display-6">
          Cambiar contraseña
        </h2>
        <p class="mb-4 text-">
          Para cambiar la contraseña, complete con los detalles...
        </p>
        <div class="position-relative">
          <div>
            <form method="POST">
              {% csrf_token %}
              {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger my-3 py-2" role="alert">
                {{ error|escape }}
              </div>
              {% endfor %}
              {% endif %}
                            
              <div class="input-icon-group mb-1">
                <span class="input-icon">
                  <i class="bx bxs-lock-open text-primary"></i>
                </span>
                {{ form.old_password }}
              </div>

              <div class="input-icon-group mb-1">
                <span class="input-icon">
                  <i class="bx bxs-lock-open text-primary"></i>
                </span>
                {{ form.new_password1 }}
              </div>
              <ul class="mb-3">
                <li class="ultrasmall text-muted">Su contraseña no puede ser similar a otros componentes de su información personal.</li>
                <li class="ultrasmall text-muted">Su contraseña debe contener por lo menos 8 caracteres.</li>
                <li class="ultrasmall text-muted">Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
                <li class="ultrasmall text-muted">Su contraseña no puede estar formada exclusivamente por números.</li>
              </ul>
              
              <div class="input-icon-group mb-1">
                <span class="input-icon">
                  <i class="bx bxs-lock-open text-primary"></i>
                </span>
                {{ form.new_password2 }}
              </div>
              <ul class="mb-3">
                <li class="ultrasmall text-muted">Introduzca la misma contraseña nuevamente, para poder verificar la misma.</li>
              </ul>
                            
              <div class="d-grid">
                <button class="btn btn-secondary" type="submit">
                  Cambiar contraseña
                </button>
              </div>
            </form>
            
            <p class="pt-3 small text-center">
              <a href="{% url 'users_app:user-dashboard' %}" class="text-dark fw-semibold link-decoration">Cancelar</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}