{% extends 'layout.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}


{% block css %}
<style>
  .form-control:disabled,
  .form-select:disabled {
    border: none;
    background-color: initial;
    color: grey;
  }
</style>
{% endblock css %}

{% block navbar %}
{% include 'partials/navbar-dark-fixed.html' %}
{% endblock navbar %}

{% block content %}
<section class="position-relative pt-7 pt-lg-9">
  <div class="container position-relative">
    <div class="">
      <div class="position-relative pt-9 pb-9 pb-lg-11">
        <div class="row">
          <div class="col-lg-3 mb-5 mb-lg-0">
            <div class="position-relative z-index-1">
              <div class="card shadow p-3">
                <div>
                  <!-- <div class="width-15x height-15x mb-5 rounded-circle shadow bg-no-repat overflow-hidden bg-contain" style="background-image: url(assets/img/avatar/4.jpg);"></div> -->
                  <h2 class="mb-3 display-6">Perfil</h2>
                  <h5 class="mb-3">{{ user.first_name }} {{ user.last_name }}</h5>
                  <!-- <small class="d-block mb-3">Senior Software developer</small> -->
                  <ul class="list-group list-group-flush mb-0">
                    <li class="d-flex align-items-stretch list-group-item px-0">
                      <i class="bx bxs-envelope fs-5 text-primary me-2 align-middle"></i>
                      <span class="small">{{ user.email }}</span>
                    </li>
                    <li class="d-flex align-items-stretch list-group-item px-0">
                      <i class="bx bxs-id-card fs-5 text-primary me-2 align-middle"></i>
                      <span class="small">{{ user.type_doc }} {{ user.n_doc }}</span>
                    </li>
                    <li class="d-flex align-items-stretch list-group-item px-0">
                      <i class="bx bxs-map fs-5 text-primary me-2 align-middle"></i>
                      <span class="small">{{ user.location }}, {{ user.province }}</span>
                    </li>
                  </ul>
                  <ul class="list-group border-top list-group-flush mb-3">
                    <li class="list-group-item px-0">
                      <div class="d-grid pt-3">
                        <a href="{% url 'users_app:user-update' %}" class="btn btn-outline-primary shadow-sm mb-2 py-1">
                          <i class="bx bxs-edit me-2"></i>
                          <small>Modificar Datos</small>
                        </a>
                        <a href="{% url 'users_app:user-change-password' %}" class="btn btn-outline-primary shadow-sm py-1">
                          <i class="bx bxs-lock-open me-2"></i>
                          <small>Cambiar Contraseña</small>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-12 mb-3 mb-lg-5">
                <div class="card table-card table-nowrap overflow-hidden card-table">
                  <div class="card-header d-flex align-items-center">
                    <h3 class="mb-0 pe-3 flex-grow-1 text-truncate">Servicios</h3>
                    <a href="{% url 'services_app:service-register' %}" class="btn btn-outline-primary p-1">
                      <i class="bx bx-plus fs-5"></i>
                      <small>Crear Servicio</small>
                    </a>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-middle mb-0">
                      <thead class="bg-body text-muted small text-uppercase">
                        <tr>
                          <th>Servicio</th>
                          <th class="text-center">Estado</th>
                          <th class="text-center">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for service in services %}
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="width-7x height-7x me-3 rounded-circle shadow bg-no-repat overflow-hidden bg-cover bg-center" style="background-image: url('{{ service.logo.url }}');"></div>
                              <div class="d-flex justify-content-start flex-column">
                                <a href="{% url 'services_app:service-detail' service.slug %}" class="h6 mb-1">{{ service.title }}</a>
                                <span class="text-gray-400 fw-semibold d-block fs-7">{{ service.company }}</span>
                              </div>
                            </div>
                          </td>
                          <td class="text-center">
                            
                            {% if service.status == 'Activo' %}
                            <span class="fw-normal badge bg-tint-success text-success fs-6">
                              {{ service.status }}
                            </span>
                            {% endif %}
                            {% if service.status == 'Inactivo' %}
                            <span class="fw-normal badge bg-tint-success text-danger fs-6">
                              {{ service.status }}
                            </span>
                            {% endif %}
                            {% if service.status == 'Pausado' %}
                            <span class="fw-normal badge bg-tint-success text-warning fs-6">
                              {{ service.status }}
                            </span>
                            {% endif %}
                            {% if service.status == 'En revisión' %}
                            <span class="fw-normal badge bg-tint-success text-info fs-6">
                              {{ service.status }}
                            </span>
                            {% endif %}
                              
                          </td>
                          <td class="text-center">
                            <a href="{% url 'services_app:service-edit' service.id %}" class="btn btn-outline-primary btn-sm" title="Editar">
                              <i class="bx bxs-edit fs-5"></i>
                            </a>
                            <a href="#!" class="btn btn-outline-primary btn-sm" title="Eliminar">
                              <i class="bx bxs-trash fs-5"></i>
                            </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
