{% extends 'layout.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock title %}

{% block css %}{% endblock css %}

{% block navbar %}
{% include 'partials/navbar-dark-fixed.html' %}
{% endblock navbar %}

{% block content %}
<section class="position-relative">
  <div class="bg-pattern text-light w-100 h-100 start-0 top-0 position-absolute"></div>
  <div class="container pt-11 pt-lg-14 pb-9 pb-lg-11 position-relative z-index-1">
    <div class="row align-items-center justify-content-center">
      <div class=" col-xl-4 col-lg-5 col-md-6 col-sm-8 z-index-2">
        <h2 class="mb-1 display-6">
          Iniciar Sesión
        </h2>
        <p class="mb-4 text-muted">
          Inicie sesión con los detalles...
        </p>
        <div class="position-relative">
          <div>
            <form method="POST">
              {% csrf_token %}
              {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger my-3 py-2" role="alert">
                {{ error|escape }}
              </div>
              {% endfor %}
              {% endif %}
              <div class="input-icon-group mb-3">
                <span class="input-icon">
                  <i class="bx bxs-envelope text-primary"></i>
                </span>
                {{ form.email }}
                <!-- <input type="email" class="form-control" required autofocus placeholder="Email"> -->
              </div>
              <div class="input-icon-group mb-3">
                <span class="input-icon">
                  <i class="bx bxs-lock-open text-primary"></i>
                </span>
                {{ form.password }}
                <!-- <input type="password" class="form-control" required placeholder="Contraseña"> -->
              </div>
              <div class="mb-3 d-flex justify-content-end">
                <div>
                  <label class="text-end d-block small mb-0"><a href="#" class="text-muted link-decoration">Olvidaste tu contraseña?</a></label>
                </div>
              </div>
              
              <div class="d-grid">
                <button class="btn btn-primary" type="submit">
                  Entrar
                </button>
              </div>
            </form>
            
            <p class="pt-4 small text-muted">
              ¿No tienes una cuenta? <a href="{% url 'users_app:user-register' %}" class="ms-2 text-dark fw-semibold link-underline">Registrate</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}