{% extends 'layout.html' %}
{% load static %}

{% block title %}Registro{% endblock title %}

{% block content %}
  <!-- WRAPPER -->
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center"><strong>REGISTRO</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <div class="content-form-login">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-2">
              <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
              {{ form.email }}
            </div>
            <div class="mb-2">
              <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
              {{ form.first_name }}
            </div>
            <div class="mb-2">
              <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
              {{ form.last_name }}
            </div>
            <div class="mb-2">
              <label for="" class="form-label">Documento de identidad</label>
              <div class="input-group">
                {{ form.type_doc }}
                {{ form.n_doc }}
              </div>
            </div>
            <div class="mb-2">
              <label for="{{ form.address.id_for_label }}" class="form-label">{{ form.address.label }}</label>
              {{ form.address }}
            </div>
            <div class="mb-2">
              <label for="{{ form.phone.id_for_label }}" class="form-label">{{ form.phone.label }}</label>
              {{ form.phone }}
            </div>
            <div class="mb-2">
              <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
              {{ form.password }}
              <ul class="mt-2 mb-0">
                <li class="small">Su contraseña no puede ser similar a otros componentes de su información personal.</li>
                <li class="small">Su contraseña debe contener por lo menos 8 caracteres.</li>
                <li class="small">Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
                <li class="small">Su contraseña no puede estar formada exclusivamente por números.</li>
              </ul>
            </div>
            <div class="mb-2">
              <label for="repassword" class="form-label">Confirmar Contraseña</label>
              {{ form.repassword}}
              <ul class="mt-2 mb-0">
                <li class="small">Introduzca la misma contraseña nuevamente, para poder verificar la misma.</li>
              </ul>
            </div>
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-3 mb-0" role="alert">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}
            <div class="d-grid">
              <button id="submit" type="submit" class="btn btn-primary mt-3">REGISTRAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END WRAPPER -->
{% endblock content %}