{% extends 'layout.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}


{% block css %}{% endblock css %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-left"><strong>DASHBOARD</strong></h1>
    </div>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 py-3 shadow-lg">
        <div class="row">
          <div class="col-12">
            <h5><strong>DATOS PERSONALES</strong></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="mb-2">
              <label for="{{ form.email.id_for_label }}" class="form-label"><strong>{{ form.email.label }}</strong></label>
              {{ form.email }}
            </div>
            <div class="mb-2">
              <label for="{{ form.first_name.id_for_label }}" class="form-label"><strong>{{ form.first_name.label }}</strong></label>
              {{ form.first_name }}
            </div>
            <div class="mb-2">
              <label for="{{ form.last_name.id_for_label }}" class="form-label"><strong>{{ form.last_name.label }}</strong></label>
              {{ form.last_name }}
            </div>
            <div class="mb-2">
              <label for="" class="form-label"><strong>Documento de identidad</strong></label>
              <div class="input-group">
                {{ form.type_doc }}
                {{ form.n_doc }}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="mb-2">
              <label for="{{ form.address.id_for_label }}" class="form-label"><strong>{{ form.address.label }}</strong></label>
              {{ form.address }}
            </div>
            <div class="mb-2">
              <label for="{{ form.phone.id_for_label }}" class="form-label"><strong>{{ form.phone.label }}</strong></label>
              {{ form.phone }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <a class="btn btn-secondary btn-sm mt-3 ms-3" href="{% url 'users_app:user-dashboard' %}">CANCELAR</a>
            <button id="submit" type="submit" class="btn btn-primary btn-sm mt-3 ms-3">GUARDAR</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <div class="">
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger mt-3 mb-0" role="alert">
            {{ error|escape }}
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
